

<h2>User info</h2>
<% if user_book.errors.any? %>

  <%= user_book.errors.count %>errors prohibited this obj from being saved
<ul>
  <% user_book.errors.full_messages.each do |message| %>
  <li> <%= message %></li>
  <% end %>
</ul>
<% end %>
 <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "default-image" %>



 <table class="table table-striped">
  <tbody>
   <tr></tr>
   <tr>
    <th>name</th>
    <th> <%= user.name %></th>
    </tr>

    <tr>
     <th>introduction</th>
     <th> <%= user.introduction %></th>
     </tr>
     </tbody>
</table>

<div Class="row">
 <%= link_to "", edit_user_path(user.id) , class: "btn btn-outline-secondary btn-block edit_user_9291 fas fa-user-cog" %>

 </div>

 <h2 class"col-md-3">New book</h2>
 <%= form_with model: book, local:true do |f| %>

  <p>Title</p>

  <%= f.text_field :title %>

  <p>Opinion</p>

  <%= f.text_area :body%>

  <%= f.submit 'Create Book',class: "btn btn-success" %>
<% end %>




